<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/Nemo.png" type="image/x-icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/mode.css">


    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>
    <%- include('../components/Dark-light.ejs') %>

    <main class="d-flex flex-nowrap">
    <%- include('../components/sidepar.ejs', {type : "add"}) %>


      <section class="w-100">
        <%- include('../components/navPar.ejs' ) %>



        <form class="mx-0 row gx-3 gy-4 mt-3" method="post" action="/post">

          
          <div class="col-md-6">
            <label for="inputfirstName4" class="form-label">First Name:</label>
            <input
            name="UserName"
              placeholder="Your First Name: ..."
              type="text"
              class="form-control"
              id="inputfirstName4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputlastName4" class="form-label">Last Name:</label>
            <input
            name="LastName"
              placeholder="Your Last Name: ..."
              type="text"
              class="form-control"
              id="inputlastName4"
            />
          </div>

          <div class="col-md-6">
            <label for="inputemail4" class="form-label">Email:</label>
            <input
            name="Email"
              placeholder="Your Email: .....@gmail.com"
              type="email"
              class="form-control"
              id="inputemail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputtele4" class="form-label">Telephone:</label>
            <input
            name="Telephone"
              placeholder="Your Number: +20..."
              type="number"
              class="form-control"
              id="inputtele4"
            />
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputage4" class="form-label">Age:</label>
              <input
              name="Age"
                placeholder="Your Age: ..."
                type="number"
                class="form-control"
                id="inputage4"
              />
            </div>
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputCountry" class="form-label">Country:</label>
              <select id="inputCountry" name="Country" class="form-select">
                <option selected hidden disabled>Choose here ...</option>

                <% const countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Democratic Republic of the Congo", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Syria", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"] %>
                <% countries.forEach(itim => { %>
                 <option value="<%= itim %>"> <%= itim %> </option> 
                <% }) %>
                
              </select>
            </div>
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputGender" class="form-label">Gender:</label>
              <select id="inputGender" name="Gender" class="form-select">
                <option selected hidden disabled>Choose here ...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
